# node modules
node_modules/

# 빌드 결과물
dist/
build/

# 환경 파일
.env
.env.*

# OS 및 에디터 파일
.DS_Store
Thumbs.db
.vscode/
.idea/

# 로그, 캐시
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.cache/
coverage/

# eslint, prettier, vite 관련
.eslintcache
*.tsbuildinfo

# 테스트 결과
*.test.js.snap
*.test.ts.snap
jest-*.json
